<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="servicioPeliculas" class="com.curso.modelo.negocio.ServicioPeliculas">
		<property name="peliculaDao" ref="peliculaDao"/>
	</bean>

	<bean id="peliculaDao" class="com.curso.modelo.persistencia.PeliculaDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url"             value="jdbc:h2:C:/H2/bbdd_peliculas_2025"/>
		<property name="driverClassName" value="org.h2.Driver"/>
		<property name="username"        value="sa"/>
		<property name="password"        value=""/>
	</bean>
	
</beans>



